<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/merovex/Downloads</string>
	<key>NotesScaleFactor</key>
	<real>1.25</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {501, 1232}}</string>
		<string>{{502, 0}, {1574, 1232}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<true/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1.25</real>
		<key>usesFacingPages</key>
		<true/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>055ABECC-255F-49D2-9AE1-B27A47CC1E69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0604AD98-B682-4E46-AFD5-2C1D628E6215</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B724729-B560-425D-858A-4A02652E434D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0FD78FFF-B32D-4AE9-A403-038F9B46E8EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12D2603A-1DBE-414E-8EEA-A3C00ECBF722</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>140E4BB6-696D-4F75-A950-57560E46752D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AA47783-4086-4E01-A57F-FB33E052BC57</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1B2F3824-80BA-4FC6-8EA0-805E09358463</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1C192596-F3A5-4A82-A65F-5C7EA60054A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1DB329C9-327C-4E48-9235-47308F52BB36</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1F8D0C7D-D3BD-4FAD-91E2-8043E903B39B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>219E878D-0ABB-4EDA-9404-30B87A1E90FB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2604ACC7-DD7C-47A6-B7B9-891C5E534E27</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>263FE3A2-9601-4A27-9C96-B798F6C6B1E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>29589424-FAA4-4623-B42A-1252A541DF47</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C08579B-ECFE-4271-ACCB-BE38194037A4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D675938-BCD5-420E-9F54-80D84F84F3F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3227A675-8288-4D63-AFBA-958FBD65800E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>33F5B159-6E9D-40CD-AD27-64FA6DB82AFF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>346E25DF-B9D4-48C0-A116-A9134B6B0769</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3A80876C-4FE5-447A-9308-51866F830698</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C5700A2-CC6E-4C6A-819D-D4866F53C633</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DB390D5-23B9-49FC-A162-25789314C410</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45168171-253D-488D-BAB9-443718ECF171</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49C60B44-0936-4F29-879A-3BDF29B37230</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A172210-75BB-4212-A91A-E8830A4BE12A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>574B91A0-42E8-469A-A6F9-7B6A187571FC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>57B21F25-5290-44C2-8B39-E86FA97B0476</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6295B20A-914E-4066-AB39-A6D5523DBA0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66B83277-44FE-4024-B5FC-CD39BFB4484A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66FB0809-F14B-44B0-AC1B-1D14A99E0D51</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F90110D-7908-4D7F-BD4F-5BAB69D1FC09</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>74C64818-C256-4FB3-93ED-E7F5DBFE792F</key>
		<dict>
			<key>DocID</key>
			<string>B63B467D-6942-4506-8D2E-2970EC3537FC</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>7BC733DE-6FCF-4476-A3A7-A454456759BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D212953-2CB6-4721-8A2A-7AC73FF8BB66</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7FBB6FBB-2489-4B7E-A7F2-F81C5BA8FB38</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>95D3AB75-F041-49C7-868F-6585F2EE85D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A03DC47-4885-4DAA-BCB8-F1A075A27A0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9B95B685-3F05-43E9-A026-DDAAACB28EF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9ECB237D-15B2-414E-9F90-8C318EB8501B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1DB1CCD-36A9-4ABA-BC26-4457BF68CC88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A532B7BB-335D-4B9A-9CA0-E03AD08F9E01</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A728BC9D-AEE7-4D32-970A-6B5A8629DDB0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A78575C7-14C7-47BB-B7E1-BF839A55ABB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A8E9CDAA-7317-4298-AE33-AC13C5AF65A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B63B467D-6942-4506-8D2E-2970EC3537FC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B81EF987-95A3-4150-871A-9376AFBB697E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC95D9D2-C4FA-42B3-A070-2ED00DCF4808</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C4C7C4D4-E930-4A77-B5DB-8D9CCB58B8B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C6A25790-F0F5-4E84-A7F4-DF3884ACFA2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9905546-711B-4D07-B7CD-24DA4AD81B56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA29C2A5-5424-40F6-9430-1A1E090CA71C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0C81A17-75FC-4E63-8796-6E46A0F53716</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D869B236-0DBD-434F-8107-6D3FA50F49BB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCC1C6D8-56AA-4682-BEE5-60BC2E79333B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD9D9C1E-CAC6-4BEB-BE76-60FA3E99D7AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E75B97B5-D0B5-4142-B06F-E3473FECC11E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E76980FC-2CA6-4989-A244-5E47330DBAD5</key>
		<dict>
			<key>DocID</key>
			<string>B63B467D-6942-4506-8D2E-2970EC3537FC</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>E868F498-4E86-4555-8E8A-10067FC0F6AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F4404B35-AD37-4CAA-A5E6-564A7FBE8EB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5962BAA-75C5-47CA-978E-3C4B8A336465</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F99E4E3B-E77F-44BF-AF8E-51E24519EDC3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAFDC47D-6F3F-40DC-8D6B-8E29530A0C3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB223E42-DFC4-46C2-B1E1-9C1B9A4F9F23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{673, 0}, {673, 1202}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1346, 1202}}</string>
		<string>{{1347, 0}, {227, 1202}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>384.00205361722698</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>789</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 359}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>172 113 2076 1260 0 0 2560 1415 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>151.5</real>
		<key>sectionType</key>
		<real>144</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {612, 764}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
