article {
  &.page {

    font-family: var(--font-article);
    h1, h2, h3 {
      font-family: var(--font-heading);
    }
    .alert {
      align-items: center;
      background: rgba(#808080,0.2);
      border-radius: 1vh;
      display: flex;
      flex-flow: column;
      font-family: var(--font-system);
      justify-content: center;
      margin: 1vh;
      p, h4 {
        &:last-of-type {
          margin: 0.5vh 1vh;
        }
        font-size: 0.8em;
      }
      h4 {
        font-size: 1.0em;
      }
      &.info {
        border: 0.3vh solid rgba(clr('blue', 500), 0.4);
        background: rgba(clr('blue',500), 0.2);
      }
      &.warning {
        border: 0.3vh solid rgba(clr('yellow', 500), 0.4);
        background: rgba(clr('yellow',500), 0.2);
      }
      &.danger, &.error {
        border: 0.3vh solid rgba(clr('red', 500), 0.4);
        background: rgba(clr('red',500), 0.2);
      }
      &.success {
        border: 0.3vh solid rgba(clr('green', 500), 0.4);
        background: rgba(clr('green',500), 0.2);
      }
    }
    .ghost {
      font-size: 40vw;
      line-height: 1;
      position: absolute;
      top: 10vh;
      left: 0;
      padding-left: 5vw;
      color: rgba(#808080,0.075);
      white-space: nowrap;
      overflow-x: hidden;
      font-family: var(--font-heading);
      z-index: -500;
      width: 100%;
    }
    h2 {
      border-bottom: 1px solid;
      border-color: var(--background-bg-text);
      line-height: 0.7em;
      text-shadow: 1px 1px 1px var(--background-bg);
      padding-bottom: 0;
      margin-bottom: 1em;
    }
    p {
      letter-spacing: -0.03;
      line-height: 1.58;
      &+ p {
        text-indent: 1em;
      }
      &:last-of-type {
        margin-bottom: 3em;
      }
    }
    padding: 80px 10px 10px 10px;
    max-width: 70ch;
  }
  text-align: left;
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
  font-family: var(--font-article);
  .metadata {
    font-size: 80%;
    opacity: 80%;
    text-align: center;
    .tags {
      a {
        &+a:before {
          content: "\b7\a0";
          color: var(--body-fg);
        }
      }
    }
  }
  &+ article {
    padding: 10px;
  }
  blockquote {
    padding: 1em 6%;
    font-family: var(--font-system);
    cite {
      display: block;
      opacity: 0.6;
    }
  }
  small {
    font-family: var(--font-system);
  }
  pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
    // background: rgba($gray-500,0.4);
    background: var(--surface-bg);
    color: var(--surface-bg-text);
  }
  .footnotes {
    border-top: 2px solid var(--red);
    font-size: 0.8em;
    font-family: var(--font-system);
  }
  .related {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    a {
      &.next {
        text-align: right;
      }
    }
  }
}
.post-item {
  .svg-inline--fa {
    color: var(--primary);
  }
}
