.button {
  text-decoration: none;
  border-radius: 0.3em;
  padding: 0.3em 0.6em;
  border: 3vh solid blue;
  border-color: red;
}
button, .btn {
  @extend .button;
  background: var(--primary-bg);
  &.primary {
    background: var(--primary-bg);
    color: var(--primary-bg-text);
  }
  &.success {
    background: var(--success-bg);
    color: var(--success-bg-text);
  }
  &.warning {
    background: var(--warning-bg);
    color: var(--warning-bg-text);
  }
  &.danger, &.error {
    background: var(--error-bg);
    color: var(--error-bg-text);
  }
}
