@function pale($color) {
  // Used for the background.
  @return lighten( desaturate( $color, 10 ), 30 );
}
@function light($color) {
  // Used for the cube's top.
  @return lighten( saturate( $color, 25 ), 20 );
}
@function dark($color) {
  // Used for the cube's side.
  @return darken( desaturate( $color, 20 ), 12 );
}

$colormap: ();
@each $name, $color in $colors {
  $generated: (
    50:  tint-color($color, 11),
    100: tint-color($color, 8),
    200: tint-color($color, 6),
    300: tint-color($color, 4),
    400: tint-color($color, 2),
    500: $color,
    600: shade-color($color, 2),
    700: shade-color($color, 4),
    800: shade-color($color, 6),
    900: shade-color($color, 8),
    dark: dark($color),
    light: light($color),
    pale: pale($color),
  );
  $colormap: map-merge($colormap, ($name: $generated));
}
@function clr($color, $type: 500) {
  @if map-has-key($colormap, $color) and map-has-key(map-get($colormap, $color), $type) {
      @return map-get(map-get($colormap, $color), $type);
  }
  @warn 'Unknown #{$color} - #{$type} in #{$color}.';
  @return white;
}

$color-debug: false !default;
@if $color-debug {
  @debug HUE $hue;
  @debug SAT $sat;
  @debug LIT $light;
  @debug OFF $offset;
  // $name: white;
  @each $name, $color in $colors {
    @debug $name 50  clr($name, 50);
    @debug $name 100 clr($name, 100);
    @debug $name 200 clr($name, 200);
    @debug $name 300 clr($name, 300);
    @debug $name 400 clr($name, 400);
    @debug $name 500 clr($name, 500);
    @debug $name 600 clr($name, 600);
    @debug $name 700 clr($name, 700);
    @debug $name 800 clr($name, 800);
    @debug $name 900 clr($name, 900);

    @debug $name pale  clr($name, pale);
    @debug $name dark  clr($name, dark);
    @debug $name light clr($name, light);
    @debug "---";
    @debug $name base clr($name);
    @debug "---";
  }
}

$t: clr("iron-gall");
$b: clr("blue");
$v: clr("violet");

@mixin cvar($name, $color, $w: 500) {
  $c: clr($color,$w);
  // $t: #333;
  // @debug $name $color;
  // @debug $c;
  // @debug $t;
  // $aa: a11y-color($t, $c, 'AAA');
  // @debug $aa;
  --#{$name}-bg: #{$c};
  --#{$name}-fg: #{$c};
  --#{$name}-bg-text: #{a11y-color($t, $c, 'AAA')};
  --#{$name}-bg-hi-text: #{a11y-color($t, $c, 'AAA')};
  --#{$name}-bg-link: #{a11y-color($b, $c, 'AAA')};
  --#{$name}-bg-link-visited: #{a11y-color($v, $c, 'AAA')};
  // --#{$name}-bg-text: #{contrast($t, $c, 5)};
  // --#{$name}-bg-hi-text: #{contrast($t, $c, 5)};
  // --#{$name}-bg-link: #{contrast($b, $c, 5)};
  // --#{$name}-bg-link-visited: #{contrast($v, $c, 5)};
}
// a11y-color(#c0c, #000)
