$hue: hue($primary);
$sat: saturation($primary);
$light: lightness($primary);
$offset: $hue % 10;
// @debug $hue;
// @debug $sat;
// @debug $light;
// @debug $offset;


$primary:      hsl($hue, $sat, $light);
$primary-drk:  hsl($hue, 20, 15);

$gsat: 6;

$red:          hsl(340+$offset, $sat, $light) !default;
$orange:       hsl( 20+$offset, $sat, $light) !default;
$yellow:       hsl( 40+$offset, $sat, $light) !default;
$green:        hsl(120+$offset, $sat, $light) !default;
$blue:         hsl(210+$offset, $sat, $light) !default;
$indigo:       hsl(220+$offset, $sat, $light) !default;
$violet:       hsl(260+$offset, $sat, $light) !default;
$white:        hsl($hue, $gsat, 97) !default;
$gray:         hsl($hue, $gsat, 50) !default;
$black:        hsl($hue, $gsat, 5) !default; // from 8

$gray-100: tint-color($gray, 8) !default;
$gray-200: tint-color($gray, 6) !default;
$gray-300: tint-color($gray, 4) !default;
$gray-400: tint-color($gray, 2) !default;
$gray-500: $gray !default;
$gray-600: shade-color($gray, 2) !default;
$gray-700: shade-color($gray, 4) !default;
$gray-800: shade-color($gray, 6) !default;
$gray-900: shade-color($gray, 8) !default;

$primary-100: tint-color($primary, 8) !default;
$primary-200: tint-color($primary, 6) !default;
$primary-300: tint-color($primary, 4) !default;
$primary-400: tint-color($primary, 2) !default;
$primary-500: $primary !default;
$primary-600: shade-color($primary, 2) !default;
$primary-700: shade-color($primary, 4) !default;
$primary-800: shade-color($primary, 6) !default;
$primary-900: shade-color($primary, 8) !default;

$red-100: tint-color($red, 8) !default;
$red-200: tint-color($red, 6) !default;
$red-300: tint-color($red, 4) !default;
$red-400: tint-color($red, 2) !default;
$red-500: $red !default;
$red-600: shade-color($red, 2) !default;
$red-700: shade-color($red, 4) !default;
$red-800: shade-color($red, 6) !default;
$red-900: shade-color($red, 8) !default;

$orange-100: tint-color($orange, 8) !default;
$orange-200: tint-color($orange, 6) !default;
$orange-300: tint-color($orange, 4) !default;
$orange-400: tint-color($orange, 2) !default;
$orange-500: $orange !default;
$orange-600: shade-color($orange, 2) !default;
$orange-700: shade-color($orange, 4) !default;
$orange-800: shade-color($orange, 6) !default;
$orange-900: shade-color($orange, 8) !default;

$yellow-100: tint-color($yellow, 8) !default;
$yellow-200: tint-color($yellow, 6) !default;
$yellow-300: tint-color($yellow, 4) !default;
$yellow-400: tint-color($yellow, 2) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 2) !default;
$yellow-700: shade-color($yellow, 4) !default;
$yellow-800: shade-color($yellow, 6) !default;
$yellow-900: shade-color($yellow, 8) !default;

$green-100: tint-color($green, 8) !default;
$green-200: tint-color($green, 6) !default;
$green-300: tint-color($green, 4) !default;
$green-400: tint-color($green, 2) !default;
$green-500: $green !default;
$green-600: shade-color($green, 2) !default;
$green-700: shade-color($green, 4) !default;
$green-800: shade-color($green, 6) !default;
$green-900: shade-color($green, 8) !default;

$blue-100: tint-color($blue, 8) !default;
$blue-200: tint-color($blue, 6) !default;
$blue-300: tint-color($blue, 4) !default;
$blue-400: tint-color($blue, 2) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 2) !default;
$blue-700: shade-color($blue, 4) !default;
$blue-800: shade-color($blue, 6) !default;
$blue-900: shade-color($blue, 8) !default;

$indigo-100: tint-color($indigo, 8) !default;
$indigo-200: tint-color($indigo, 6) !default;
$indigo-300: tint-color($indigo, 4) !default;
$indigo-400: tint-color($indigo, 2) !default;
$indigo-500: $indigo !default;
$indigo-600: shade-color($indigo, 2) !default;
$indigo-700: shade-color($indigo, 4) !default;
$indigo-800: shade-color($indigo, 6) !default;
$indigo-900: shade-color($indigo, 8) !default;

$violet-100: tint-color($violet, 8) !default;
$violet-200: tint-color($violet, 6) !default;
$violet-300: tint-color($violet, 4) !default;
$violet-400: tint-color($violet, 2) !default;
$violet-500: $violet !default;
$violet-600: shade-color($violet, 2) !default;
$violet-700: shade-color($violet, 4) !default;
$violet-800: shade-color($violet, 6) !default;
$violet-900: shade-color($violet, 8) !default;
