$gsat: 6;
$black:    hsl($hue, $gsat, 5); // from 8
$gray-100: hsl($hue, $gsat, 10); // darken($gray-300, 15%);
$gray-200: hsl($hue, $gsat, 20); // darken($gray-300, 10%);
$gray-300: hsl($hue, $gsat, 30); // darken($gray-300, 10%);
$gray-400: hsl($hue, $gsat, 40); // lighten($gray-300, 20%);
$gray-500: hsl($hue, $gsat, 50); // lighten($gray-300, 30%);
$gray-600: hsl($hue, $gsat, 60); // lighten($gray-300, 40%);
$gray-700: hsl($hue, $gsat, 70); // lighten($gray-300, 50%);
$gray-800: hsl($hue, $gsat, 80); // lighten($gray-300, 60%);
$gray-900: hsl($hue, $gsat, 94); // lighten($gray-300, 70%);
$white:    hsl($hue, $gsat, 97);
$red-100: tint-color($red, 8) !default;
$red-200: tint-color($red, 6) !default;
$red-300: tint-color($red, 4) !default;
$red-400: tint-color($red, 2) !default;
$red-500: $red !default;
$red-600: shade-color($red, 2) !default;
$red-700: shade-color($red, 4) !default;
$red-800: shade-color($red, 6) !default;
$red-900: shade-color($red, 8) !default;
$orange-100: tint-color($orange, 8) !default;
$orange-200: tint-color($orange, 6) !default;
$orange-300: tint-color($orange, 4) !default;
$orange-400: tint-color($orange, 2) !default;
$orange-500: $orange !default;
$orange-600: shade-color($orange, 2) !default;
$orange-700: shade-color($orange, 4) !default;
$orange-800: shade-color($orange, 6) !default;
$orange-900: shade-color($orange, 8) !default;
$yellow-100: tint-color($yellow, 8) !default;
$yellow-200: tint-color($yellow, 6) !default;
$yellow-300: tint-color($yellow, 4) !default;
$yellow-400: tint-color($yellow, 2) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 2) !default;
$yellow-700: shade-color($yellow, 4) !default;
$yellow-800: shade-color($yellow, 6) !default;
$yellow-900: shade-color($yellow, 8) !default;
$green-100: tint-color($green, 8) !default;
$green-200: tint-color($green, 6) !default;
$green-300: tint-color($green, 4) !default;
$green-400: tint-color($green, 2) !default;
$green-500: $green !default;
$green-600: shade-color($green, 2) !default;
$green-700: shade-color($green, 4) !default;
$green-800: shade-color($green, 6) !default;
$green-900: shade-color($green, 8) !default;
$blue-100: tint-color($blue, 8) !default;
$blue-200: tint-color($blue, 6) !default;
$blue-300: tint-color($blue, 4) !default;
$blue-400: tint-color($blue, 2) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 2) !default;
$blue-700: shade-color($blue, 4) !default;
$blue-800: shade-color($blue, 6) !default;
$blue-900: shade-color($blue, 8) !default;
$indigo-100: tint-color($indigo, 8) !default;
$indigo-200: tint-color($indigo, 6) !default;
$indigo-300: tint-color($indigo, 4) !default;
$indigo-400: tint-color($indigo, 2) !default;
$indigo-500: $indigo !default;
$indigo-600: shade-color($indigo, 2) !default;
$indigo-700: shade-color($indigo, 4) !default;
$indigo-800: shade-color($indigo, 6) !default;
$indigo-900: shade-color($indigo, 8) !default;
$violet-100: tint-color($violet, 8) !default;
$violet-200: tint-color($violet, 6) !default;
$violet-300: tint-color($violet, 4) !default;
$violet-400: tint-color($violet, 2) !default;
$violet-500: $violet !default;
$violet-600: shade-color($violet, 2) !default;
$violet-700: shade-color($violet, 4) !default;
$violet-800: shade-color($violet, 6) !default;
$violet-900: shade-color($violet, 8) !default;

// .gray-100-text {color: $gray-100};
// .gray-200-text {color: $gray-200};
// .gray-300-text {color: $gray-300};
// .gray-400-text {color: $gray-400};
// .gray-500-text {color: $gray-500};
// .gray-600-text {color: $gray-600};
// .gray-700-text {color: $gray-700};
// .gray-800-text {color: $gray-800};
// .gray-900-text {color: $gray-900};
// .red-100-text {color: $red-100};
// .red-200-text {color: $red-200};
// .red-300-text {color: $red-300};
// .red-400-text {color: $red-400};
// .red-500-text {color: $red-500};
// .red-600-text {color: $red-600};
// .red-700-text {color: $red-700};
// .red-800-text {color: $red-800};
// .red-900-text {color: $red-900};
// .orange-100-text {color: $orange-100};
// .orange-200-text {color: $orange-200};
// .orange-300-text {color: $orange-300};
// .orange-400-text {color: $orange-400};
// .orange-500-text {color: $orange-500};
// .orange-600-text {color: $orange-600};
// .orange-700-text {color: $orange-700};
// .orange-800-text {color: $orange-800};
// .orange-900-text {color: $orange-900};
// .yellow-100-text {color: $yellow-100};
// .yellow-200-text {color: $yellow-200};
// .yellow-300-text {color: $yellow-300};
// .yellow-400-text {color: $yellow-400};
// .yellow-500-text {color: $yellow-500};
// .yellow-600-text {color: $yellow-600};
// .yellow-700-text {color: $yellow-700};
// .yellow-800-text {color: $yellow-800};
// .yellow-900-text {color: $yellow-900};
// .green-100-text {color: $green-100};
// .green-200-text {color: $green-200};
// .green-300-text {color: $green-300};
// .green-400-text {color: $green-400};
// .green-500-text {color: $green-500};
// .green-600-text {color: $green-600};
// .green-700-text {color: $green-700};
// .green-800-text {color: $green-800};
// .green-900-text {color: $green-900};
// .blue-100-text {color: $blue-100};
// .blue-200-text {color: $blue-200};
// .blue-300-text {color: $blue-300};
// .blue-400-text {color: $blue-400};
// .blue-500-text {color: $blue-500};
// .blue-600-text {color: $blue-600};
// .blue-700-text {color: $blue-700};
// .blue-800-text {color: $blue-800};
// .blue-900-text {color: $blue-900};
// .indigo-100-text {color: $indigo-100};
// .indigo-200-text {color: $indigo-200};
// .indigo-300-text {color: $indigo-300};
// .indigo-400-text {color: $indigo-400};
// .indigo-500-text {color: $indigo-500};
// .indigo-600-text {color: $indigo-600};
// .indigo-700-text {color: $indigo-700};
// .indigo-800-text {color: $indigo-800};
// .indigo-900-text {color: $indigo-900};
// .violet-100-text {color: $violet-100};
// .violet-200-text {color: $violet-200};
// .violet-300-text {color: $violet-300};
// .violet-400-text {color: $violet-400};
// .violet-500-text {color: $violet-500};
// .violet-600-text {color: $violet-600};
// .violet-700-text {color: $violet-700};
// .violet-800-text {color: $violet-800};
// .violet-900-text {color: $violet-900};
//
// .gray-100-bg {background-color: $gray-100};
// .gray-200-bg {background-color: $gray-200};
// .gray-300-bg {background-color: $gray-300};
// .gray-400-bg {background-color: $gray-400};
// .gray-500-bg {background-color: $gray-500};
// .gray-600-bg {background-color: $gray-600};
// .gray-700-bg {background-color: $gray-700};
// .gray-800-bg {background-color: $gray-800};
// .gray-900-bg {background-color: $gray-900};
// .red-100-bg {background-color: $red-100};
// .red-200-bg {background-color: $red-200};
// .red-300-bg {background-color: $red-300};
// .red-400-bg {background-color: $red-400};
// .red-500-bg {background-color: $red-500};
// .red-600-bg {background-color: $red-600};
// .red-700-bg {background-color: $red-700};
// .red-800-bg {background-color: $red-800};
// .red-900-bg {background-color: $red-900};
// .orange-100-bg {background-color: $orange-100};
// .orange-200-bg {background-color: $orange-200};
// .orange-300-bg {background-color: $orange-300};
// .orange-400-bg {background-color: $orange-400};
// .orange-500-bg {background-color: $orange-500};
// .orange-600-bg {background-color: $orange-600};
// .orange-700-bg {background-color: $orange-700};
// .orange-800-bg {background-color: $orange-800};
// .orange-900-bg {background-color: $orange-900};
// .yellow-100-bg {background-color: $yellow-100};
// .yellow-200-bg {background-color: $yellow-200};
// .yellow-300-bg {background-color: $yellow-300};
// .yellow-400-bg {background-color: $yellow-400};
// .yellow-500-bg {background-color: $yellow-500};
// .yellow-600-bg {background-color: $yellow-600};
// .yellow-700-bg {background-color: $yellow-700};
// .yellow-800-bg {background-color: $yellow-800};
// .yellow-900-bg {background-color: $yellow-900};
// .green-100-bg {background-color: $green-100};
// .green-200-bg {background-color: $green-200};
// .green-300-bg {background-color: $green-300};
// .green-400-bg {background-color: $green-400};
// .green-500-bg {background-color: $green-500};
// .green-600-bg {background-color: $green-600};
// .green-700-bg {background-color: $green-700};
// .green-800-bg {background-color: $green-800};
// .green-900-bg {background-color: $green-900};
// .blue-100-bg {background-color: $blue-100};
// .blue-200-bg {background-color: $blue-200};
// .blue-300-bg {background-color: $blue-300};
// .blue-400-bg {background-color: $blue-400};
// .blue-500-bg {background-color: $blue-500};
// .blue-600-bg {background-color: $blue-600};
// .blue-700-bg {background-color: $blue-700};
// .blue-800-bg {background-color: $blue-800};
// .blue-900-bg {background-color: $blue-900};
// .indigo-100-bg {background-color: $indigo-100};
// .indigo-200-bg {background-color: $indigo-200};
// .indigo-300-bg {background-color: $indigo-300};
// .indigo-400-bg {background-color: $indigo-400};
// .indigo-500-bg {background-color: $indigo-500};
// .indigo-600-bg {background-color: $indigo-600};
// .indigo-700-bg {background-color: $indigo-700};
// .indigo-800-bg {background-color: $indigo-800};
// .indigo-900-bg {background-color: $indigo-900};
// .violet-100-bg {background-color: $violet-100};
// .violet-200-bg {background-color: $violet-200};
// .violet-300-bg {background-color: $violet-300};
// .violet-400-bg {background-color: $violet-400};
// .violet-500-bg {background-color: $violet-500};
// .violet-600-bg {background-color: $violet-600};
// .violet-700-bg {background-color: $violet-700};
// .violet-800-bg {background-color: $violet-800};
// .violet-900-bg {background-color: $violet-900};
