// Inspired by https://github.com/franciscop/picnic

$mero-color-variation: 10% !default;
$mero-transparency: .2 !default;

$mero-error:        var(--error)   !default;
$mero-error-text:   var(--error-bw-text)   !default;
$mero-success:      var(--success) !default;
$mero-success-text: var(--success-bw-text) !default;
$mero-warning:      var(--warning) !default;
$mero-warning-text: var(--warning-bw-text) !default;
$mero-brand:        var(--brand) !default;
$mero-primary:        var(--primary) !default;
$mero-primary-text:   var(--primary-bw-text) !default;
$mero-brand-text:   var(--brand-bw-text) !default;

$mero-white: var(--white) !default;
$mero-black: var(--black) !default;
$mero-dull:  var(--gray) !default;

// Spaces
$mero-separation: .6em !default;
$mero-breakpoint: 60em !default;

// Shapes
$mero-radius: .2em !default;
$mero-border: 1px solid $mero-dull !default;
$mero-shadow: 0 0 .2em rgba($mero-dull, $mero-transparency) !default;
$mero-overlay: rgba($mero-black, $mero-transparency);

// Transitions
$mero-transition: all .3s;

@import './mero/normalize';
@import './mero/functions';
@import './mero/z-depth';

@import './mero/generic';

// Simple Elements
@import './mero/label';
@import './mero/button';
@import './mero/code';

// Forms
@import './mero/input';
@import './mero/select';
@import './mero/radio';
@import './mero/checkbox';

// Components
@import './mero/grid';
@import './mero/table';

// Extra
@import './mero/stack';
@import './mero/card';
@import './mero/modal';

@import './mero/dropimage';
@import './mero/tabs';
@import './mero/tooltip';

// My Flair
@import './mero/navbar';
@import './mero/footer';
@import './mero/home';

@import './mero/article';

@import './mero/framing';
@import './mero/figure';
@import './mero/alert';
@import './mero/post-preview';

@media (prefers-color-scheme: dark) {
  html, body > header, body > footer {
    filter: invert(1) hue-rotate(180deg);
  }
  img:not([src*=".svg"]) {
    filter: invert(1) hue-rotate(180deg) saturate(30%);
  }
}
