body > header {
  background: var(--navbar-bg);
  color: white;
  @extend .z-depth-1;
  a {
    @extend .button;
    &:hover {
      @extend .shadow;
    }
    &+a {
      margin-left: 0.5em;
    }
  }
  .brand {
    display: flex;
    align-items: center;
    span {
      font-family: IMFellEnglish;
      font-size: 1.5em;
      color: white;
    }
    svg {
      height: 1.5em;
      width: auto;
      margin-right: 0.4em;
      fill: white;
    }
  }
  a.subscribe {
    background: var(--primary-bg);
    border: 0.2vh solid;
    border-color: var(--navbar-bg);
    color: white;
    @extend .z-depth-2;
    &:hover {
      @extend .z-depth-1;
      border-color: clr('primary',600);
    }
    &:visited {
      color: white;
    }
  }
  nav {
    [type=checkbox] {
      opacity: 0;
      width: 0;
      position: absolute;
      display: inline-block;
    }
  }
  .burger {
    display: none;
  }
  @media all and (max-width: 60em) {
    nav {
      .burger {
        display: inline-block;
        cursor: pointer;
        bottom: -1000em;
        margin: 0;
        ~ .menu {
          position: fixed;
          min-height: 100%;
          top: 0;
          right: 0;
          bottom: -1000em;
          margin: 0;
          background: #fff;
          transition: all 0.5s ease;
          transform: none;
        }
      }
      .show:checked ~ .burger {
        position: fixed;
        min-height: 100%;
        top: 0;
        right: 0;
        bottom: -1000em;
        margin: 0;
        background: #fff;
        transition: all 0.5s ease;
        transform: none;
      }
      .burger ~ .menu {
        z-index: 11;
      }
      .show {
        &:checked {
          ~ .burger {
            color: transparent;
            width: 100%;
            border-radius: 0;
            background: rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
          }
          ~ .menu {
            > * {
              &:nth-child(1) {
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
              }
              &:nth-child(2) {
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
              }
              &:nth-child(3) {
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
              }
              &:nth-child(4) {
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
              }
              &:nth-child(5) {
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
              }
              &:nth-child(6) {
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
              }
              transform: translateX(0);
              transition: all 0.5s ease-in-out 0.6s;
            }
            transform: scaleX(1);
            background: var(--surface-bg);
            color: var(--surface-bg-text);
          }
        }
        ~ .menu {
          width: 70%;
          max-width: 300px;
          transform-origin: center right;
          transition: all 0.25s ease;
          transform: scaleX(0);

          > * {
            transform: translateX(100%);
            transition: all 0s ease 0.5s;
          }
        }
      }
      .burger ~ .menu > {
        * {
          display: block;
          margin: 0.3em;
          text-align: left;
          max-width: calc(100% - 0.6em);
        }
        a {
          padding: 0.3em 0.9em;
        }
      }
    }
  }
}
