.lost {
   min-height: 65vh;
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 1.2;
   h1 {
     border-right: 0.1rem solid var(--foreground);
     padding-right: 1rem;
     margin-right: 1rem;
   }
 }
