$mero-code-bg: text-contrast($mero-body-bg);
$mero-code-fg: text-contrast($mero-code-bg, 7);
pre, code {
    background: $mero-code-bg;
    border-radius: $mero-radius;
    color: $mero-code-fg;
    font-family: $mono-fonts;
    font-size: 0.9em;
    line-height: 1.3;
    overflow-x: scroll;
    padding: $mero-separation / 2 $mero-separation;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
