$mero-footer-bg: #000 !default;
body > footer {
  display: flex;
  flex-shrink: 0;
  font-size: 0.85rem;
  justify-content: space-around;
  padding-top: 1in;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  background: $mero-footer-bg;
  color: text-contrast($mero-footer-bg);
  a {
    text-decoration: underline !important;
    color: text-contrast($mero-footer-bg);
    &:visited {
      color: text-contrast($mero-footer-bg);
    }
  }
}
