body > footer {
  display: flex;
  flex-shrink: 0;
  font-size: 0.85rem;
  justify-content: space-around;
  padding-top: 1in;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  background: var(--dark-bg);
  color: var(--dark-bg-text);
  a {
    text-decoration: underline !important;
    color: var(--dark-bg-link);
    &:visited {
      color: var(--dark-bg-link);
    }
  }
}
