
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  body {
    font-weight: 450;
  }
}
@media screen {
  body {
    display: flex;
    font-size: clamp(18px, 2vw, 22px);
    flex-direction: column;
  }
}
html {
  scroll-behavior: smooth;
  font-display:optional;
  body {
    // ::selection { background-color: var(--primary); color: var(--white) }
    a {
      color: var(--background-bg-link);
      &:visited {
        color: var(--background-bg-link-visited);
      }
    }
    background: var(--background-bg);
    @media (prefers-color-scheme: light) {
      background-image: url('/assets/images/backgrounds/beige-paper.png');
    }
    color: var(--background-bg-text);
    & > header {
      display: flex;
      height: 3em;
      align-items: center;
      justify-content: space-around;
    }
    & > main {
      flex-grow: 1;
      // ::selection { background-color: var(--primary); color: var(--white) }
      min-height: calc(100vh - 4.5em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: var(--font-body);
      strong, b {
        color: var(--strong-fg);
        font-weight: bold;
      }
      em {
        color: var(--emphasis-fg);
        font-style: italic;
      }
    }
    & > footer {
      display: flex;
      line-height: 1;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      height: 2.5em;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 0.85rem;
      width: 100%;
      & > * {
      }
    }
  }
}
@media all and (max-width: 60em) {
  h1, .tags, .related a { text-align: center !important;}
  article {
    margin: 1em;
  }
  nav .show ~ .menu {
    // background: var(--secondary-bg);
    background: red;
    // color: var(--secondary-bg-text);
  }
  .posts {
    li { text-align: center;}
  }
}
