h1 {font-size: clamp(3.0rem, 4.0vw, 3.5rem);}
h2 {font-size: clamp(2.0rem, 3.5vw, 2.5rem);}
h3 {font-size: clamp(1.5rem, 3.5vw, 2.0rem);}
h4 {font-size: clamp(1.3rem, 2.5vw, 1.7rem);}
h5, h6 { font-size: 1.0rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: $mero-separation 0;
}
li {
  margin: 0 0 $mero-separation / 2;
}
label {
  cursor: pointer;
}
a {
  color: var(--background-bg-link);
  &:visited {
    color: var(--background-bg-link-visited);
  }
}

@media (max-width: $mero-breakpoint) {
  .desktop {
    display: none;
  }
}
@media (min-width: $mero-breakpoint) {
  .mobile {
    display: none;
  }
}
