.home {
  #feature {
    background: var(--brand-bg);
    color: var(--brand-bg-text);
    min-height: 53vh;
    margin-bottom: 5vh;
  }
  section.body {
    padding: 1in 0;
  }
  .card-labels {
    a { 
      @extend %label;
      // padding: 0 2px;
      line-height: 1;
      font-size: 60%;
      text-decoration: none;
    }
  }
}
