.home {
  #feature {
    background: $mero-brand;
    color: text-contrast($mero-brand,7);
    min-height: 53vh;
    margin-bottom: 5vh;
  }
  section.body {
    padding: 1in 0;
    font-family: $serif-fonts;
  }
}
