// Variables
$mero-input-height: 2.1em !default;
$mero-input-padding: $mero-separation / 2 $mero-separation !default;
$mero-input-background: $mero-white !default;



// Top level selector
%input {
  line-height: 1.5;
  margin: 0;
  height: $mero-input-height;
  padding: $mero-input-padding;
  border: $mero-border;
  background-color: $mero-input-background;
  border-radius: $mero-radius;
  transition: $mero-transition;
  width: 100%;

  &:focus {
    border: 1px solid $mero-primary;
    outline: 0;
  }
}
// Browser treats unknow type as "text", so we'll do the same
input,
textarea,
.select select {
  @extend %input;
}

textarea {
  height: auto;
}

[type=file],
[type=color] {
  cursor: pointer;
}

[type=file] {
  height: auto;
}
