// Variables
$mero-input-height: 2.1em !default;
$mero-input-padding: $mero-separation / 2 $mero-separation !default;
$mero-input-background: $mero-white !default;



// Top level selector
%input {
  line-height: 1.5;
  margin: 0;
  color: var(--select-bw-text);
  font-family: var(--font-system);
  height: $mero-input-height;
  padding: calc($mero-input-padding - 4px);

  border: 4px solid var(--input);
  // border: $mero-border;
  background-color: var(--input);
  border-radius: $mero-radius;
  transition: $mero-transition;
  width: 100%;
  &::placeholder {
    color: var(--select-bg-text);
    opacity: 60%;
  }

  &:focus {
    border: 4px dotted clr('red');
    outline: 0;
  }
}
// Browser treats unknow type as "text", so we'll do the same
input,
textarea,
.select select {
  @extend %input;
}

textarea {
  height: auto;
}

[type=file],
[type=color] {
  cursor: pointer;
}

[type=file] {
  height: auto;
}
