// Variables
$mero-select-height: 2.2em !default;
$mero-select-margin: $mero-separation / 2 !default;
$mero-select-padding: $mero-separation / 2 $mero-separation * 0.75 !default;

// This comes from arrow.svg. Converted with:
// http://dopiaza.org/tools/datauri/index.php
$mero-select-dropimage: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjMiPjxwYXRoIGQ9Im0gMCwxIDEsMiAxLC0yIHoiLz48L3N2Zz4=" !default;

// Code
%select {
  // Compatible with old androids
  background: $mero-white url(#{$mero-select-dropimage}) no-repeat scroll 95% center/
    10px 15px;

  // Compatible with modern browsers
  background-position: calc(100% - 15px) center;

  border: $mero-border;
  border-radius: $mero-radius;
  cursor: pointer;
  width: 100%;
  height: $mero-select-height;
  box-sizing: border-box;
  padding: $mero-select-padding;
  transition: all 0.3s;

  // Hide dropdown arrow

  // vendor prefixes required, see:
  // https://github.com/postcss/autoprefixer#why-doesnt-autoprefixer-support-appearance
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  // Hide the arrow for IE (apparently IE10+)
  // http://stackoverflow.com/a/21417591 method
  // http://stackoverflow.com/a/15933790 version
  &::-ms-expand {
    display: none;
  }

  &:focus,
  &:active {
    border: 1px solid $mero-primary;
    transition: outline 0s;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $mero-black;
  }

  option {
    font-size: inherit;
    padding: $mero-separation * 0.75;
  }

  &[multiple] {
    height: auto;
    background: none;
    padding: 0;
  }
}
select {
  @extend %select;
  }
