---
---

$mero-grid-sizes: 600 1100;
$mero-grid-count: one two three four;
$mero-grid-count-sizes: (
  three: 33.33333%,
  two: 50%,
);
$mero-grid-part: full third two-third;
$mero-grid-part-sizes: (
  full: 100%,
  third: 33.33333%,
  half: 50%,
  two-third: 66.66666%,
);
$mero-grid-offpart: none third two-third;
$mero-grid-offpart-sizes: (
  third: 33.33333%,
  two-third: 66.66666%,
  half: 50%,
  none: 0
);

$system-fonts: Hind, -apple-system, system-ui, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
$serif-fonts: "CrimsonText", Cambria, Georgia, "Times New Roman", Times, serif;
$heading-fonts: IMFellEnglish, $serif-fonts;
$mono-fonts: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
$table-fonts: $system-fonts;

// Cornell Brand colors
$brand:#A6192E;
$gray: #53565A;
$offset: hue($brand) % 10;
$violet: hsl(270+$offset, saturation($brand), lightness($brand));
$cornell: ( // Colors from Cornell's brand guidance.
  'brand':    #A6192E,
  'secondary':#49516D,
  'red':      #EF3340,
  'orange':   #ED8B00,
  'yellow':   #A69219,
  'green':    #64A70B,
  'blue':     #0085CA,
  'indigo':   #49516D,
  'violet':   #794384,
  'sea-grey': #94A596,
  'gray':     #53565A,
  'black':    #222222,
  'iron-gall':#3E353B,
  'white':    #F0EBE0,
);
$colors: ( // "Cranberry"
  'brand':    #3B517C,
  'secondary':#7c663b,
  'ternary':  #bfa778,
  'red':      #EF3340,
  'orange':   #ED8B00,
  'yellow':   #A69219,
  'green':    #009a15,
  'blue':     #00389a,
  'indigo':   #49516D,
  'violet':   #62009a,
  'gray':     #594d55,
  'black':    #231d21,
  'iron-gall':#3E353B,
  'white':    #fff7e9,
);
$text-base: 'iron-gall';
$mero-input-background: var(--input);

@import 'mero';
@import 'posts';

@include font('IMFellEnglish',          '../fonts/IMFellEnglish-Regular');
@include font('IMFellEnglish-Italic',   '../fonts/IMFellEnglish-Italic');
@include font('CrimsonText-Regular',    '../fonts/CrimsonText-Regular');
@include font('CrimsonText-Italic',     '../fonts/CrimsonText-Italic');
@include font('CrimsonText-Bold',       '../fonts/CrimsonText-Bold');
@include font('CrimsonText-BoldItalic', '../fonts/CrimsonText-BoldItalic');
@include font('Hind-Regular',           '../fonts/Hind-Regular');

// #F0EBE0
:root {
    --font-heading:   #{$heading-fonts};
    --font-monospace: #{$mono-fonts};
    --font-article:   #{$serif-fonts};
    --font-sans:      #{$system-fonts};
    --font-serif:     #{$serif-fonts};
    --font-system:    #{$system-fonts};
    --font-brand:     #{$heading-fonts};
    @include cvar("brand",      "brand",     100); // Primary
    @include cvar("secondary",  "secondary", 400); // Secondary
    @include cvar("ternary",    "ternary",   400); // Ternary
    @include cvar("background", "white",     100, 6); // Background
    @include cvar("dark",       "iron-gall", 'dark'); // Background
    @include cvar("surface",    "yellow",    50); // Surface
    @include cvar("code",       "gray",      50); // Surface
    @include cvar("success",    "green",     100); // Success
    @include cvar("warning",    "yellow",    100); // Warning
    @include cvar("error",      "red",       100); // Error
    @include cvar("info",       "blue",      100); // Info
    @include cvar("white",      "white",     100); // Info
    @include cvar("navbar",     "iron-gall", 700); // Info
    @include cvar("input",     "white", 50);
    --card: #{rgba(#FFF,0.3)};
}  

@media (prefers-color-scheme: dark) {
  html, body > header, body > footer {
    filter: invert(1) hue-rotate(180deg);
  }
  img:not([src*=".svg"]) {
    filter: invert(1) hue-rotate(180deg) saturate(30%);
  }
}

html > body {
  background-image: url('/assets/images/backgrounds/beige-paper.png');
}
