---
---

$system-fonts: -apple-system, system-ui, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
$serif-fonts: "Crimson Text", Georgia, "Times New Roman", Times, serif;
$heading-fonts: IMFellEnglish, $serif-fonts;

// #a93c3c	(169,60,60) Red
// #e3e3e3	(227,227,227) White 
// #7dc4d8	(125,196,216) Blue
// #6d6969	(109,105,105) grey
// #f6efe5	(246,239,229) 

$primary: #B31B1B;
$dark-grey: #222222;
$white: #FFFFFF;
$light-grey: #F7F7F7;
$blue: #006699;
$green: #4B7B2B;
$orange: #D47500;
$navy: #073949;
$dark-warm-grey: #A2998B;
$sea-grey: #9FAD9F;

@import 'reset';
@import 'functions';
@import 'article';
@import 'navbar';
@import 'headings';
@import 'footer';

@include font('IMFellEnglish', 'fonts/IMFellEnglish-Regular');
@include font('IMFellEnglish-Italic', 'fonts/IMFellEnglish-Italic');
@include font('CrimsonText-Regular', 'fonts/CrimsonText-Regular');

html {
  scroll-behavior: smooth;
  font-display:optional;
  body {
    background: var(--background) !important;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    font-family: $serif-fonts;
    font-size: clamp(20px, 2vw, 24px);
    main {
      min-height: calc(100vh - 90px);
      p {
        &+ p {
          text-indent: 2em;;
        }
        &:last-of-type {
          margin-bottom: 3em;
        }
      }
    }
  }
}
@media all and (max-width: 60em) {
  h1, .tags, .related a { text-align: center !important;}
  article {
    margin: 1em;
  }
  nav .show ~ .menu {
    background: var(--background);
    color: var(--foreground);
  }
  .posts {
    li { text-align: center;}
  }
}
